$bgcolor-gray: #f6f5f5;

$color-gray-one: #f8f8f8;

$color-gray-two: #e1e1e1;

$color-gray-three: #a4a1a1;
$color-gray-four: #666666;

$color-black: #1d1d1d;

//цвет рамки input
$color-border-input: #d6d6d6;
$color-border-input-focused: #2b2b2b;

$color-border-input-type-namber: #7c7c7c;

//цвет при наведении на кнопку
$color-btn--black-hover: #404040;

$color-form-error: #d7222b;
$color-form-item-note: #2b2b2b;

// ------------------------

$color-white: #ffffff;
$color-link: #828282;
